@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&family=Habibi&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

/* =========================== Header Start ======================= */

header{
    margin-top: 30px;
}
 .nav_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav_wrapper ul{
    display: flex;
    gap: 30px;
}
 .nav_wrapper ul li{
    list-style: none;
}
  .nav_wrapper ul li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    font-family: "Gupter", serif;
    letter-spacing: 2%;
    color: #000;
    position: relative;
}
.nav_wrapper ul li a::after{
    content: "";
    width:0%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.4s;
}
.nav_wrapper ul li .active::after{
    content: "";
    width:100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
}
.nav_wrapper ul li a:hover::after{
    width: 100%;
    
}

.nav-icon ol{
    gap: 30px;
}
.nav-icon ol li{
    font-size: 25px;
}
.nav-icon ol li .trash{
    position: relative;
}
.nav-icon ol li .trash::after{
    content: "";
    width: 17px;
    height: 17px;
    background-color: #FE0303;
    position: absolute;
    right: -10px;
    top: -17px;
    border-radius: 50%;

}

/* ========================== Header End =========================== */

/* ========================== Banner Start ========================== */
#banner{
    margin-top: 72px;
}
.banner_wrapper h1{
    width: 710px;
    font-size: 65px;
    font-weight: 400;
    color: #292019;
    line-height: 78px;
    letter-spacing: 2%;
    font-family: "Habibi", serif;


}
.banner_wrapper p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2%;
    color: #000;
    font-family: "Habibi", serif;
    margin-top: 43px;
    width: 465px;
}
.banner_wrapper p span{
    padding-top: 50px;
    display: inline-block;
}
.banner-btn .banner_primary{
    width: 241px;
    padding: 30px 70px;
    background-color: #C4A586;
    display: inline-block;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 2%;
    color: #fff;
    font-family: "Gupter", serif;
    margin-top: 40px;
    text-decoration: none;
}

.banner-btn .banner_secondary{
    width: 241px;
    padding: 30px 30px;
    background: transparent;
    display: inline-block;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #C4A586;
    text-wrap: nowrap;
    font-family: "Gupter", serif;
    margin-top: 40px;
    text-decoration: none;
    margin-left: 20px;
    border: 2px solid #C4A586;
    
  
}
/* ========================== Banner End ============================ */

/* ========================== Client Start ========================== */
#client h6{
    text-align:center ;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2%;
    font-family: "Gupter", serif;
    color: #000;

}
.client-title{
    justify-content: space-between;
    margin-top: 50px;
    color: #72696A;
    font-size: 45px;
    font-weight: 700;
    font-family: "Gupter", serif;
    letter-spacing: 2%;

}
.chair1-left{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    margin-top: 30px;
}
.chair1-text{
    margin-right: 180px;
}
.chair1-text h5{
    font-size: 30px;
    color: #000;
    letter-spacing: 2%;
    font-weight: 700;
    font-family: "Gupter", serif;

}
.chair1-text h3{
    font-size: 25px;
    color: #C4A586;
    letter-spacing: 2%;
    font-weight: 500;
    font-family: "Gupter", serif;
    margin-top: 30px;

}
.chair{
    justify-content: end;
}
.chair2-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C4A586;
    margin-top: 30px;
}
.chair2-text{
    margin-right: 50px;
}
.chair2-text h3{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #000;
    font-family: "Gupter", serif;
    
}
.chair2-text h4{
    font-size: 25px;
    font-weight: 500;
    color: gray;
    letter-spacing: 2%;
    font-family: "Gupter", serif;
    margin-top: 30px;

}
/* ========================== Client End ========================== */

/* ========================= Product Start ====================== */
#product{
    margin-top: 50px;
}
#product h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #000;
    font-family: "Gupter", serif;

}
.product-title{
    justify-content: end;
    gap: 50px;
    align-items: center;
}
.product-title h6{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2%;
    color: #000;
    font-family: "Gupter", serif;

}
.product-title a{
    text-decoration: none;
    font-size: 16px;
    color: #C4A586;
    font-weight: 500;
    letter-spacing: 2%;
    font-family: "Gupter", serif;

}
.right-arrow{
    margin-left: 10px;
    color: #C4A586;
}
.cart{
    margin-top: 50px;
}
.cart-1{
    background-color: rgba(196, 165, 134,.63);
    width: 402px;
    position: relative;
    padding: 66px 106px 154px 84px;
    
}
.cart-1 button{
    background-color: #D1A070;
    padding: 24px 0px 20px 39px;
    border-radius: 25px;
    position: absolute;
    top: -40px;
    left: 120px;
}
.carticon{
    padding: 0 17px;
}
.cart-1 img{
    position: absolute;
    left: 60px;
    top: 150px;
  
}
.doller{
    justify-content: center;
    
    gap: 30px;
}
.doller del{
    color: gray;
}
.cart2{
    margin-top: 350px;
}
/* ========================= Product End ====================== */

/* ======================== Customer Start ====================== */
#customer{
    margin-top: 350px;
}
.customer-text h2{
    font-size: 55px;
    font-weight: 500;
    color: #000;
    font-family: "Gupter", serif;
    width: 461px;
    margin-top: 40px;
}
.customer-text p{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2%;
    line-height: 28px;
    font-family: "Habibi", serif;
    width: 559px;
    margin-top: 34px;
}
.customer-details{
    margin-top:150px;
}
.customer-address{
    margin-left: 50px;
}
.customer-address h5{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2%;
    font-family: "Gupter", serif;
    color: #000;

}
.customer-address h6{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 78px;
    font-family: "Habibi", serif;
    color: #000;

}
.customer-icon ul{
    margin-left: 100px;
    gap: 5px;
    color: #C4A586;
}
.customer-icon ul li{
    list-style: none;
}

.customer-arrow{
    margin-top: 100px;
    margin-right: 20px;
}
.customer-arrow ul{
    gap: 30px;
    
}
.customer-arrow ul li{
    background: #C4A586;
    padding: 15px 15px;
    border-radius: 100%;
    color: #fff;
    border: 1px solid #000;
}
.arrow-left{
    background: transparent;
    color: #000;
}
.customer-image{
    margin-top: 50px;
    margin-left: 150px;
    gap: 50px;
}
/* ======================== Customer End ======================= */

/* ==================== Interior Start ======================== */

.interior-left button{
    padding: 17px 40px;
    margin-top: 150px;
    border-radius: 50px;
    color: #C4A586;
    border: 1px solid #C4A586;
    background-color: transparent;
}
.interior-left h3{
    width: 349px;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 2%;
    color: #000;
    font-family: "Gupter", serif;
    margin-top: 20px;

}
.inputinterior input{
    width: 492px;
    padding: 28px 27px;
    border-radius: 13px;
    background-color: #D9D9D9;
    border: none;
    
}
.inputinterior button {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2%;
    color: #fff;
    font-family: "Gupter", serif;
    position: relative;
    top: -79px;
    left: 233px;
    padding: 23px 42px;
    border-radius: 13px  0px 0px 13px;
    background-color: #C4A586;
    border: none;
    width: 178px;
}
.inputinterior button span {
    color: #000;
    width: 88px;
    background-color: rgba(196, 165, 134,.44);
    padding: 23px 42px;
    border-radius: 0 13px 13px 0;
    position: absolute;
    right: -76px;
    top: 0;
}
.interior-right{
    justify-content: space-between;
    align-items: end;
    
}
.interiorvideo{
    margin-top: 310px;
}
.interiorvideo{
    font-size: 19px;
    color: #000;
    font-weight: 500;
    letter-spacing: 2%;
    font-family: "Gupter", serif;

}
/* ==================== Interior End ========================== */